html, body {
  height: 100%;
}
* {
  color: black;
}
section {}
.header {
  background-color: white;
  ;
  height: 100px;
}
.header h1 {
  float: left;
  display: inline-block;
}
.header .nav {
  float: left;
  padding: 20px
}
.content {
  background-color: white;
  height: calc(100% - 100px);
}
.leftpane {
  background-color: white;
  height: 100%;
  overflow-y: auto;
}
.rightpane {
  background-color: #f3f3f3;
  height: 100%;
  
  padding: 10px;
}
.document-viewer {

}
