<div class="panel panel-default">
  <div class="panel-heading">Document List</div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pokemon in pokemons">
        <th scope="row">{{pokemon.name}}</th>
        <td>{{pokemon.name}}</td>
        <td>
          <div class="btn-group" role="group">
            <a class="btn btn-primary" ui-sref="documents.detail({ documentid: pokemon.resource_uri })">Open</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
